.menu {
  display: flex;
  flex-direction: column;
  position: sticky;
  min-width: 312px;
  top: 0;
  left: 0;
  height: 100vh;
  border-right: 1px solid #E1E4E6;
  background-color: var(--secondary);
  z-index: 11;
  overflow-y: scroll;
}

.menu-container {
  /*margin-right: 312px;*/
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 40px 20px 0;
  width: 44px;
  height: 44px;
}

.logo img {
  width: 100%;
}

.logo span {
  font-size: 30px;
  font-weight: 600;
  line-height: 35px;
  color: #1B1B1B;
}

.menu-items {
  margin-top: 130px;
}

.menu-item,
.menu-item-selected {
  padding: 10px 20px;
  margin-right: 10px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  color: var(--primary);
  cursor: pointer;
}

.menu-item:hover {
  background-color: var(--surface);
}

.menu-item-selected:hover {
  background-color: var(--primary);
}

.menu-item-selected {
  background-color: var(--primary);
  color: var(--surface);
}

.menu-item-inner {
  display: flex;
  align-items: center;
  height: 28px;
  font-size: 24px;
  font-weight: 700;
  gap: 16px;
}

.menu-item-inner svg {
  height: 100%;
}

.menu-item-selected path {
  stroke: var(--surface);
}

.menu-item-location {
  transition: 0.2s;
}

.menu-item-selected .menu-item-location {
  transform: rotate(90deg);
}

.menu-item-selected .menu-item-location path {
  fill: var(--surface);
}

.menu-item-squares {
  margin-top: 10px;
}

.menu-item-region {
  font-size: 18px;
  font-weight: 500;
  padding-left: 45px;
}

.menu-item-region-square {
  font-size: 15px;
  font-weight: 500;
  padding-left: 60px;
}

.menu-item-region svg {
  fill: var(--primary);
  transition: transform 0.2s;
}

.menu-item-selected .menu-item-region svg {
  fill: var(--surface);
  stroke: none;
  transform: rotate(90deg);
}

.menu-item-selected .menu-item-region path {
  stroke: none;
}

.region-squares {
  margin-top: 5px;
  max-height: 270px;
  overflow-y: scroll;
  
  ::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.region-squares .menu-item {
  padding: 5px 20px;
}

.menu-item-disabler {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
