.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 382px;
  margin: 0 auto;
}

.form-container img {
  margin-top: 80px;
}

.form-container form {
  margin-top: 60px;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 15px;
}

.form-container input {
  font-size: 20px;
  color: #36495E;
  border-radius: 20px;
  padding: 11px 16px 11px;
  box-sizing: border-box;
  border: 0;
  outline: none;
}

.form-container input::placeholder {
  color: rgba(54, 73, 94, 0.70);
}

.form-submit-btn {
  font-size: 20px;
  font-weight: 700;
  color: #29384A;
  border-radius: 10px;
  border: 0;
  margin-top: 25px;
  padding: 14px;
  background-color: white;
  box-shadow: 0 2px 10px 0 #D4D4D480;
  transition: 0.1s;
}

.form-submit-btn:active {
  transform: scale(0.98);
}

.form-container-helper {
  color: white;
  font-size: 20px;
  font-weight: 600;
  line-height: 29px;
  margin-top: 15px;
  text-decoration: underline;
}

@media (max-width: 700px) {
  .form-container img {
    width: 180px;
    height: 180px;
  }

  .form-container input {
    font-size: 16px;
    padding: 11px 16px 11px;
  }

  .form-submit-btn {
    font-size: 16px;
  }

  .form-container-helper {
    font-size: 16px;
  }
}

@media (max-width: 415px) {
  .form-container form {
    width: 100%;
    margin-top: 40px;
    padding: 0 10px;
    box-sizing: border-box;
  }

  .form-container img {
    width: 150px;
    height: 150px;
  }

  .form-container input {
    font-size: 16px;
    padding: 11px 16px 11px;
  }

  .form-submit-btn {
    font-size: 16px;
  }
}
