.dashboard {
  padding: 20px 24px 0;
  flex-grow: 1;
}

.paper {
  border-radius: 20px;
  background: var(--surface);
  overflow: hidden;
  box-sizing: border-box;
}

.pwd {
  font-size: 12px;
}

.dashboard-header {
  display: flex;
  flex-direction: column;
}

.current-page-name {
  color: var(--primary);
  font-size: 36px;
  font-weight: 800;
  line-height: 54px;
}

.statistics {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.abons-in-numbers {
  width: 100%;
  height: 114px;
}

.date-picker-block {
  width: calc(25% - 24px);
  max-height: 365px;
  padding: 16px 28px;
}

.percentage {
  width: calc(25% - 24px);
  height: 345px;
}

.si-rating {
  width: 50%;
  height: 345px;
}

.abons-in-graphs {
  width: calc(50% - 24px);
  height: 385px;
}

.tariffs {
  width: 50%;
  height: 385px;
}
